meshtastic
Pillow==11.2.1
matrix-nio==0.25.2
matplotlib==3.10.1
requests==2.32.3
markdown==3.8
haversine==2.9.0
schedule==1.2.2
platformdirs==4.3.8
py-staticmaps>=0.4.0
rich==14.0.0
setuptools==80.9.0
