matrix:
  homeserver: https://example.matrix.org
  access_token: reaalllllyloooooongsecretttttcodeeeeeeforrrrbot # See: https://t2bot.io/docs/access_tokens/
  bot_user_id: "@botuser:example.matrix.org"

matrix_rooms: # Needs at least 1 room & channel, but supports all Meshtastic channels
  - id: "#someroomalias:example.matrix.org" # Matrix room aliases & IDs supported
    meshtastic_channel: 0
  - id: "!someroomid:example.matrix.org"
    meshtastic_channel: 2

meshtastic:
  connection_type: serial # Choose either "tcp", "serial", or "ble"
  serial_port: /dev/ttyUSB0 # Only used when connection is "serial"
  host: meshtastic.local # Only used when connection is "tcp"
  ble_address: AA:BB:CC:DD:EE:FF # Only used when connection is "ble" - Uses either an address or name from a `meshtastic --ble-scan`
  meshnet_name: Your Meshnet Name # This is displayed in full on Matrix, but is truncated when sent to a Meshnet
  broadcast_enabled: true # Must be set to true to enable Matrix to Meshtastic messages
  detection_sensor: true # Must be set to true to forward messages of Meshtastic's detection sensor module
  plugin_response_delay: 3 # Default response delay in seconds for plugins that respond on the mesh;
  relay_reactions: true # Defaults to false, set to true to enable relay reactions between platforms

logging:
  level: info
  #log_to_file: true                          # Set to true to enable file logging
  #filename: ~/.mmrelay/logs/mmrelay.log      # Default location if log_to_file is true
  #max_log_size: 10485760                     # 10 MB default if omitted
  #backup_count: 1                            # Keeps 1 backup as the default if omitted
  #color_enabled: true                        # Set to false to disable colored console output

#database:
#  path: ~/.mmrelay/data/meshtastic.sqlite   # Default location
#  msg_map: # The message map is necessary for the relay_reactions functionality. If `relay_reactions` is set to false, nothing will be saved to the message map.
#    msgs_to_keep: 500 # If set to 0, it will not delete any messages; Defaults to 500
#    wipe_on_restart: true # Clears out the message map when the relay is restarted; Defaults to False

# These are core Plugins - Note: Some plugins are experimental and some need maintenance.
plugins:
  ping:
    active: true
    #channels: [2,3,5] # List of channels the plugin will respond to; DMs are always processed if the plugin is active
  weather:
    active: true
    units: imperial # Options: metric, imperial - Default is metric
    #channels: [] # Empty list, will only respond to DMs
  nodes:
    active: true
    # Does not need to specify channels, as it's a Matrix-only plugin

#community-plugins:
#  sample_plugin:
#    active: true
#    repository: https://github.com/username/sample_plugin.git
#    tag: master
#  advanced_plugin:
#    active: false
#    repository: https://github.com/username/advanced_plugin.git
#    tag: v1.2.0

#custom-plugins:
#  my_custom_plugin:
#    active: true
#  another_custom_plugin:
#    active: false
