[Unit]
Description=A Meshtastic <=> Matrix Relay
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
# This is where pipx installs the mmrelay binary
ExecStart=%h/.local/bin/mmrelay --config %h/.mmrelay/config.yaml --logfile %h/.mmrelay/logs/mmrelay.log
WorkingDirectory=%h/.mmrelay
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
