[Unit]
Description=A Meshtastic <==> Matrix Relay
After=default.target

[Service]
Type=idle
WorkingDirectory=%h/meshtastic-matrix-relay
ExecStart=%h/meshtastic-matrix-relay/.pyenv/bin/python %h/meshtastic-matrix-relay/main.py --config %h/.config/mmrelay/config.yaml --logfile %h/.local/share/mmrelay/mmrelay.log
Restart=on-failure

[Install]
WantedBy=default.target